[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile={{ environment_file }}
ExecStart=/usr/local/bin/kubelet "$DAEMON_ARGS"
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
